In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import confusion_matrix, classification_report
from imblearn.under_sampling import RandomUnderSampler
from imblearn.ensemble import BalancedRandomForestClassifier

In [2]:
engine = create_engine(f'postgresql://root:{db_password}@database-1.c9rsypxhmntw.us-east-2.rds.amazonaws.com:5432/credit_decisions')

In [3]:
connection = engine.connect()

In [4]:
data = pd.read_sql('select * from loandata_small', connection)

In [5]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 300)

In [6]:
data

,id,loan_amnt,annual_inc,loan_status,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,99800119,40000.0,212000.0,Charged Off,15.0,1.0,685.0,1.0,13.0,0.0,16369.0,71.0,31.0,0.0,0.0,0.0,426091.0,3.0,32776.0,5251.0,76.0,0.0,222.0,39.0,3.0,3.0,39.0,0.0,4.0,5.0,6.0,12.0,10.0,7.0,18.0,5.0,13.0,0.0,0.0,2.0,87.0,67.0,0.0,0.0,493388.0,99382.0,21500.0,98888.0
1,10181709,9000.0,50000.0,Charged Off,30.0,0.0,740.0,2.0,11.0,0.0,6118.0,21.0,20.0,0.0,0.0,0.0,135629.0,7.0,13563.0,13582.0,31.0,0.0,171.0,10.0,3.0,4.0,10.0,0.0,3.0,3.0,5.0,9.0,4.0,7.0,12.0,3.0,11.0,0.0,0.0,2.0,95.0,20.0,0.0,0.0,172546.0,24352.0,19700.0,28378.0
2,9000890,10000.0,32000.0,Fully Paid,20.0,0.0,745.0,1.0,6.0,0.0,6570.0,26.0,15.0,0.0,0.0,0.0,25748.0,2.0,4291.0,12130.0,35.0,0.0,110.0,21.0,21.0,0.0,21.0,0.0,2.0,2.0,4.0,8.0,4.0,5.0,11.0,2.0,6.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,51967.0,25748.0,18700.0,26867.0
3,43369231,35000.0,200000.0,Fully Paid,5.0,1.0,700.0,0.0,11.0,0.0,25124.0,26.0,21.0,1.0,0.0,0.0,395474.0,3.0,35952.0,63776.0,28.0,0.0,231.0,33.0,7.0,4.0,132.0,1.0,4.0,4.0,5.0,5.0,8.0,6.0,7.0,4.0,11.0,0.0,1.0,2.0,95.0,20.0,0.0,0.0,490756.0,97346.0,88900.0,75189.0
4,46694688,8750.0,22000.0,Fully Paid,21.0,0.0,665.0,0.0,5.0,0.0,11056.0,72.0,11.0,0.0,0.0,0.0,13900.0,3.0,2780.0,4244.0,72.0,0.0,58.0,14.0,5.0,0.0,14.0,0.0,4.0,4.0,4.0,4.0,7.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,18502.0,13900.0,15300.0,3202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262496,62216570,20000.0,50000.0,Fully Paid,24.0,0.0,685.0,0.0,10.0,0.0,13671.0,58.0,26.0,0.0,0.0,0.0,110000.0,1.0,11000.0,244.0,98.0,0.0,133.0,22.0,22.0,1.0,22.0,1.0,4.0,7.0,4.0,10.0,9.0,7.0,16.0,7.0,10.0,0.0,0.0,0.0,96.0,100.0,0.0,0.0,144121.0,29535.0,9600.0,32643.0
1262497,75163409,10675.0,51290.0,Fully Paid,9.0,0.0,705.0,0.0,4.0,0.0,6666.0,79.0,10.0,0.0,0.0,0.0,9316.0,1.0,2329.0,1420.0,81.0,0.0,188.0,26.0,14.0,0.0,36.0,0.0,2.0,3.0,2.0,2.0,5.0,3.0,5.0,3.0,4.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,12300.0,9316.0,7500.0,3900.0
1262498,27731172,11000.0,40000.0,Fully Paid,15.0,0.0,765.0,2.0,15.0,0.0,12653.0,21.0,25.0,0.0,0.0,0.0,23034.0,4.0,1920.0,42047.0,23.0,0.0,584.0,2.0,2.0,0.0,2.0,0.0,4.0,5.0,7.0,10.0,6.0,13.0,19.0,5.0,15.0,0.0,0.0,3.0,100.0,14.0,0.0,0.0,78420.0,23034.0,54600.0,19320.0
1262499,75367145,12000.0,51000.0,Fully Paid,14.0,0.0,665.0,2.0,12.0,1.0,9665.0,79.0,28.0,0.0,0.0,0.0,26486.0,3.0,2649.0,338.0,96.0,0.0,293.0,3.0,3.0,1.0,17.0,0.0,4.0,5.0,5.0,9.0,12.0,8.0,15.0,5.0,11.0,0.0,0.0,2.0,100.0,100.0,1.0,0.0,39631.0,26486.0,8800.0,27331.0
1262500,40148217,5500.0,40000.0,Fully Paid,25.0,0.0,675.0,1.0,19.0,0.0,12363.0,30.0,27.0,0.0,0.0,0.0,30131.0,11.0,1674.0,15636.0,38.0,0.0,93.0,1.0,1.0,0.0,2.0,0.0,7.0,12.0,10.0,12.0,5.0,18.0,22.0,12.0,19.0,0.0,0.0,5.0,100.0,10.0,0.0,0.0,63044.0,30131.0,25300.0,22444.0

In [7]:
# Convert string values in "loan_status" to numbers using "get_dummies"
data_v1 = pd.get_dummies(data, columns =['loan_status'])
data_v1.head()

,id,loan_amnt,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_status_Charged Off,loan_status_Fully Paid
0,99800119,40000.0,212000.0,15.0,1.0,685.0,1.0,13.0,0.0,16369.0,71.0,31.0,0.0,0.0,0.0,426091.0,3.0,32776.0,5251.0,76.0,0.0,222.0,39.0,3.0,3.0,39.0,0.0,4.0,5.0,6.0,12.0,10.0,7.0,18.0,5.0,13.0,0.0,0.0,2.0,87.0,67.0,0.0,0.0,493388.0,99382.0,21500.0,98888.0,1,0
1,10181709,9000.0,50000.0,30.0,0.0,740.0,2.0,11.0,0.0,6118.0,21.0,20.0,0.0,0.0,0.0,135629.0,7.0,13563.0,13582.0,31.0,0.0,171.0,10.0,3.0,4.0,10.0,0.0,3.0,3.0,5.0,9.0,4.0,7.0,12.0,3.0,11.0,0.0,0.0,2.0,95.0,20.0,0.0,0.0,172546.0,24352.0,19700.0,28378.0,1,0
2,9000890,10000.0,32000.0,20.0,0.0,745.0,1.0,6.0,0.0,6570.0,26.0,15.0,0.0,0.0,0.0,25748.0,2.0,4291.0,12130.0,35.0,0.0,110.0,21.0,21.0,0.0,21.0,0.0,2.0,2.0,4.0,8.0,4.0,5.0,11.0,2.0,6.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,51967.0,25748.0,18700.0,26867.0,0,1
3,43369231,35000.0,200000.0,5.0,1.0,700.0,0.0,11.0,0.0,25124.0,26.0,21.0,1.0,0.0,0.0,395474.0,3.0,35952.0,63776.0,28.0,0.0,231.0,33.0,7.0,4.0,132.0,1.0,4.0,4.0,5.0,5.0,8.0,6.0,7.0,4.0,11.0,0.0,1.0,2.0,95.0,20.0,0.0,0.0,490756.0,97346.0,88900.0,75189.0,0,1
4,46694688,8750.0,22000.0,21.0,0.0,665.0,0.0,5.0,0.0,11056.0,72.0,11.0,0.0,0.0,0.0,13900.0,3.0,2780.0,4244.0,72.0,0.0,58.0,14.0,5.0,0.0,14.0,0.0,4.0,4.0,4.0,4.0,7.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,18502.0,13900.0,15300.0,3202.0,0,1

In [8]:
#Drop duplicate "loan_status" column
data_v2 = data_v1.drop(['id','loan_status_Charged Off'], axis=1)

In [9]:
# Verify all data is in ML acceptable data type format
#data_v2.info()

## Machine Learning Model #Logistic Regression with Scaling ##

In [10]:
#Setting y/prediction variable column
y = data_v2['loan_status_Fully Paid']
y.ravel()
y

0          0
1          0
2          1
3          1
4          1
          ..
1262496    1
1262497    1
1262498    1
1262499    1
1262500    1
Name: loan_status_Fully Paid, Length: 1262501, dtype: uint8

In [11]:
#ONLY 20 columns selected (top feature importances)
data_v3 = data_v2[['loan_amnt',
'bc_open_to_buy',
'mo_sin_old_rev_tl_op',
  'avg_cur_bal',
  'tot_hi_cred_lim',
'total_bc_limit',
  'annual_inc',
 'revol_bal',
  'dti',
  'tot_cur_bal',
 'fico_range_low',
'total_bal_ex_mort',
 'revol_util',
 'total_il_high_credit_limit',
'bc_util',
 'mths_since_recent_bc',
 'total_acc',
 'mo_sin_rcnt_rev_tl_op',
 'num_il_tl',
 'num_rev_accts' 
]]

In [12]:
#Setting x/dependent variables 
X = data_v3
X

,loan_amnt,bc_open_to_buy,mo_sin_old_rev_tl_op,avg_cur_bal,tot_hi_cred_lim,total_bc_limit,annual_inc,revol_bal,dti,tot_cur_bal,fico_range_low,total_bal_ex_mort,revol_util,total_il_high_credit_limit,bc_util,mths_since_recent_bc,total_acc,mo_sin_rcnt_rev_tl_op,num_il_tl,num_rev_accts
0,40000.0,5251.0,222.0,32776.0,493388.0,21500.0,212000.0,16369.0,15.0,426091.0,685.0,99382.0,71.0,98888.0,76.0,39.0,31.0,39.0,10.0,18.0
1,9000.0,13582.0,171.0,13563.0,172546.0,19700.0,50000.0,6118.0,30.0,135629.0,740.0,24352.0,21.0,28378.0,31.0,10.0,20.0,10.0,4.0,12.0
2,10000.0,12130.0,110.0,4291.0,51967.0,18700.0,32000.0,6570.0,20.0,25748.0,745.0,25748.0,26.0,26867.0,35.0,21.0,15.0,21.0,4.0,11.0
3,35000.0,63776.0,231.0,35952.0,490756.0,88900.0,200000.0,25124.0,5.0,395474.0,700.0,97346.0,26.0,75189.0,28.0,132.0,21.0,33.0,8.0,7.0
4,8750.0,4244.0,58.0,2780.0,18502.0,15300.0,22000.0,11056.0,21.0,13900.0,665.0,13900.0,72.0,3202.0,72.0,14.0,11.0,14.0,7.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262496,20000.0,244.0,133.0,11000.0,144121.0,9600.0,50000.0,13671.0,24.0,110000.0,685.0,29535.0,58.0,32643.0,98.0,22.0,26.0,22.0,9.0,16.0
1262497,10675.0,1420.0,188.0,2329.0,12300.0,7500.0,51290.0,6666.0,9.0,9316.0,705.0,9316.0,79.0,3900.0,81.0,36.0,10.0,26.0,5.0,5.0
1262498,11000.0,42047.0,584.0,1920.0,78420.0,54600.0,40000.0,12653.0,15.0,23034.0,765.0,23034.0,21.0,19320.0,23.0,2.0,25.0,2.0,6.0,19.0
1262499,12000.0,338.0,293.0,2649.0,39631.0,8800.0,51000.0,9665.0,14.0,26486.0,665.0,26486.0,79.0,27331.0,96.0,17.0,28.0,3.0,12.0,15.0
1262500,5500.0,15636.0,93.0,1674.0,63044.0,25300.0,40000.0,12363.0,25.0,30131.0,675.0,30131.0,30.0,22444.0,38.0,2.0,27.0,1.0,5.0,22.0

In [13]:
# split Data into training and testing sets **USING STRATIFY method**
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [14]:
# Instantiate Random Under Sampler
rus = RandomUnderSampler(random_state=0)
X_rus, y_rus = rus.fit_sample(X_train, y_train)

In [15]:
X_rus

,loan_amnt,bc_open_to_buy,mo_sin_old_rev_tl_op,avg_cur_bal,tot_hi_cred_lim,total_bc_limit,annual_inc,revol_bal,dti,tot_cur_bal,fico_range_low,total_bal_ex_mort,revol_util,total_il_high_credit_limit,bc_util,mths_since_recent_bc,total_acc,mo_sin_rcnt_rev_tl_op,num_il_tl,num_rev_accts
0,4200.0,238.0,132.0,3559.0,66950.0,4500.0,30000.0,9261.0,21.0,67619.0,660.0,67619.0,84.0,55950.0,95.0,7.0,38.0,7.0,26.0,12.0
1,5000.0,4799.0,143.0,17576.0,180819.0,7400.0,70000.0,2601.0,19.0,158186.0,740.0,54205.0,22.0,59619.0,35.0,22.0,23.0,19.0,11.0,11.0
2,22950.0,738.0,236.0,7626.0,75377.0,23000.0,52200.0,37963.0,36.0,53381.0,680.0,53381.0,97.0,36077.0,97.0,212.0,16.0,98.0,7.0,9.0
3,5000.0,11647.0,112.0,3790.0,58346.0,16800.0,46000.0,5540.0,20.0,37895.0,730.0,37895.0,27.0,37646.0,31.0,5.0,13.0,5.0,3.0,10.0
4,10000.0,1437.0,326.0,18590.0,164050.0,2400.0,124000.0,963.0,5.0,111540.0,660.0,1609.0,34.0,15000.0,40.0,58.0,28.0,58.0,3.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382535,21000.0,5811.0,177.0,4146.0,62800.0,52300.0,50226.0,41460.0,23.0,41460.0,660.0,42598.0,66.0,0.0,79.0,36.0,19.0,36.0,0.0,19.0
382536,20000.0,8698.0,227.0,2252.0,21797.0,17500.0,125000.0,8805.0,3.0,11260.0,690.0,11260.0,46.0,0.0,50.0,33.0,18.0,33.0,5.0,10.0
382537,28000.0,50966.0,261.0,21880.0,666798.0,98300.0,180000.0,155057.0,22.0,568867.0,700.0,182427.0,52.0,30498.0,48.0,85.0,65.0,9.0,10.0,52.0
382538,10000.0,11534.0,129.0,620.0,26635.0,14700.0,46000.0,3619.0,10.0,4342.0,680.0,4342.0,22.0,10235.0,22.0,5.0,17.0,4.0,4.0,12.0
382539,28000.0,67380.0,326.0,46440.0,633729.0,74900.0,100000.0,7520.0,14.0,510841.0,825.0,67750.0,10.0,66134.0,10.0,30.0,26.0,30.0,9.0,13.0

In [16]:
y_rus

0         0
1         0
2         0
3         0
4         0
         ..
382535    1
382536    1
382537    1
382538    1
382539    1
Name: loan_status_Fully Paid, Length: 382540, dtype: uint8

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_rus)

# Scale the data
X_rus_scaled = X_scaler.transform(X_rus)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Balanced Random Forest Classifier
brfc_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc_model = brfc_model.fit(X_rus_scaled, y_rus) 
y_pred = brfc_model.predict(X_test)
y_pred

array([1, 1, 1, ..., 0, 1, 1], dtype=uint8)

In [19]:
#Accuracy Score
accuracy_score(y_test, y_pred)

0.6296819653640702

In [20]:
output_df = pd.DataFrame({"Prediction": y_pred, "Actual": y_test})
output_df

         Prediction  Actual
484834            1       1
671532            1       1
749270            1       1
504662            1       0
992350            1       1
...             ...     ...
644596            0       1
681433            1       0
187948            0       1
613558            1       1
1115281           1       1

[315626 rows x 2 columns]

In [32]:
from sklearn.metrics import confusion_matrix, classification_report
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        18916        44841
Actual 1        72041       179828

In [33]:
# Print Classification Report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.21      0.30      0.24     63757
           1       0.80      0.71      0.75    251869

    accuracy                           0.63    315626
   macro avg       0.50      0.51      0.50    315626
weighted avg       0.68      0.63      0.65    315626

In [34]:
# Use another accuracy score to double check accuracy
#classifier.score(X_test_scaled, y_test)